name: Go

on:
  pull_request:
  push:
    branches: [master]

permissions:
  contents: write

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Checkout
        uses: actions/checkout@v6

      - name: Lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: v2.1

      - name: Test
        run: go test -v ./...
        env:
          PATCH2PR_TEST_REPO: ${{ github.repository }}
          PATCH2PR_TEST_GITHUB_TOKEN: ${{ 
              (github.event_name == 'push' || (github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]')) 
                && secrets.GITHUB_TOKEN 
                || ''
            }}
